<table class="mt-2 table">
    <thead>
        <tr>
            <th class="p-3">VIN</th>
            <th class="p-3">ODOMETRO</th>
            <th class="p-3">NÍVEL DO COMBUSTÍVEL</th>
            <th class="p-3">STATUS</th>
            <th class="p-3">LAT</th>
            <th class="p-3">LONG</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="d-flex">
                <input (change)="onChangeVin($event)" type="text" placeholder="{{ vin }}" value="{{ vin }}" class="w-100 align-self-center">
            </td>
            <td class="p-3">{{odometro}}Km</td>
            <td class="p-3">{{nivelCombustivel}}%</td>
            <td class="p-3">{{status}}</td>
            <td class="p-3">{{lat}}</td>
            <td class="p-3">{{long}}</td>
        </tr>
    </tbody>
</table>