<!-- Botão tipo hamburguer -->
<button class="menu-btn" (click)="toggleMenu()">☰</button>

<!-- Menu lateral -->
<nav [@menuState]="menuOpen ? 'open' : 'closed'" class="side-menu">
  <div class="logo-container">
    <img src="/img/ford.png" alt="Ford Logo" />
  </div>
  <ul>
    <li><a class="text-danger" (click)="navigateAndClose('/login')">logout</a></li>
    <li><a (click)="navigateAndClose('/home')">Home</a></li>
    <li><a (click)="navigateAndClose('/dashboard')">Dashboard</a></li>
  </ul>  
</nav>
