.menu-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  
  .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px; /* AUMENTADO */
    background-color: white;
    color: #333;
    padding-top: 1rem;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  
  .logo-container img {
    max-width: 80%;
    height: auto;
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .side-menu li {
    background-color: #f2f2f2;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .side-menu a {
    color: green;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
  }
  
  
  