<!-- login.component.html -->
<div class="container-fluid login-container">
  <div class="row vh-100">
    <!-- Coluna da esquerda com a imagem do carro -->
    <div class="col-md-6 d-flex justify-content-center align-items-center car-column">
      <img src="img/ford.png" alt="Ford Logo" class="ford-logo position-absolute top-0 mt-4">
      <img src="img/ranger.png" alt="Ford Ranger" class="img-fluid car-image">
    </div>
    
    <!-- Coluna da direita com o formulário -->
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center form-column">
      <div class="welcome-text text-success mb-4">Boas-vindas</div>
      <app-login-form></app-login-form>
    </div>
  </div>
</div>