/* login-form.component.css */
form {
  width: 100%;
  max-width: 400px;
  background-color: white;
}

.btn-primary {
  width: 100%;
  background-color: #6c757d;
  border-color: #6c757d;
}

.form-control {
  border-radius: 0;
}

.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}